.producto__descripcion,
.productos-similares {
  padding: 0 16px;
}

.producto__image {
  margin-right: 30px;
  width: 90%;
  border-radius: 10px;
}

.producto__tittle{
  color: #464646;
  font-size: 22px;
  font-weight: 500;
  margin: 16px 0 0 0;
}

.product__para {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.productos-similares__tittle {
  color: #464646;
  font-size: 22px;
  font-weight: 700;
  margin: 32px 0 16px 0;
}

.products__grid-container {
  color: #464646;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px;
  justify-content: center;
  padding-bottom: 16px;
}

.grid-item__5,
.grid-item__6 {
  display: none;
}

.product__image {
  height: 174px;
  width: 156px;
  border-radius: 10px;
}

.product__title {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
}

.product__ver-producto {
  color: #2A7AE4;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
}

.product__ver-producto:hover {
  text-decoration: underline;
}

@media(max-width: 500px) {
  .producto__image {
    width: 100%;
    border-radius: 0 0 0 0;
  }
}


@media(min-width: 610px) {

  .products__grid-container {
    grid-template-columns: auto auto auto;
  }

  .grid-item__5,
  .grid-item__6 {
    display: block;
  }
}

@media(min-width: 768px) {

  .producto {
    display: flex;
    padding: 32px;
    flex-direction: row;
  }

  .producto__tittle {
    margin: 0;
  }

  .productos-similares {
    padding: 32px;
  }

  .productos-similares__tittle {
    margin: 0 0 16px 0;
  }

  .products__grid-container {
    grid-template-columns: auto auto auto auto;
  }

  .grid-item__5,
  .grid-item__6 {
    display: none;
  }


  .product__image {
    height: 174px;
    width: 164px;
  }

  .product__ver-producto {
    font-size: 16px;
  }

}

@media(min-width: 1000px) {

  main {
    padding: 0 10%;
  }

  .producto {
    padding: 64px 0;
  }

  .producto__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  

  .producto__tittle {
    font-size: 52px;
  }

  .productos-similares {
    padding: 0;
  }

  .productos-similares__tittle {
    font-size: 32px;
  }

 

  .grid-item__5,
  .grid-item__6 {
    display: block;
  }

  .product__image {
    height: 176px;
    width: 174px;
  }

}

@media(min-width: 1280px) {
  .products__grid-container {
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3.3%;
  }
}