@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
html{
	scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    padding-bottom:10px ;
    padding-top: 5px;
    width: 94%;
    margin: 0 auto;
}