.products{
    background: #f5f5f5;
}

.products__header{
    padding-top: 16px;
    margin-top: 0!important;
}

@media(min-width: 1000px) {
    .products{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}